.chat-button {
  font-size: 30px;
  color: #fff;
  display: block;
  margin-left: 30px;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 60px !important;
  height: 60px !important;

  .chatNotification {

  }
}
.icon-button_badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 35px;
  height: 35px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
}
.speech-bubble {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-300%);
  background: dimgrey;
  color: white;
  border: dimgrey;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 0 auto;

  display: inline-block;
  z-index: 1000;
  font-size: large;
  min-width: 60px;
}
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: dimgrey;
  border-bottom: 0;
  margin-left: -9px;
  margin-bottom: -9px;
  z-index: 1;
}

.messageFadeoutChat {
  opacity: 0;
  -webkit-transition: all 10s cubic-bezier(1,0,1,-0.17);
  -moz-transition: all 10s cubic-bezier(1,0,1,-0.17);
  -ms-transition: all 10s cubic-bezier(1,0,1,-0.17);
  -o-transition: all 10s cubic-bezier(1,0,1,-0.17);
  transition: all 10s cubic-bezier(1,0,1,-0.17);
}
