


.carsList {
  h2 {
    text-align: left;
    margin-left: 10%;
    font-weight: bold;
  }
}

.horizontalLine {
  border-top: 2px solid #c6c6c6;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
